body {
    background-color: #f5f5f5; 
}

.navbar-nav .nav-link.active{
    color: #fff
}

.nav-link{
    text-align: center;
}

.container {
    background-color: #fff; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.card {
    border: none; 
}

